body {
  margin: 0;
  font-family: Arial;
  background: #f5f7ff;
}

header {
  background: #4a6cf7;
  color: white;
  text-align: center;
  padding: 25px;
  border-radius: 0 0 20px 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: white;
  width: 250px;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  text-align: center;
}

button {
  background: #4a6cf7;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #2f4ed1;
}

footer {
  text-align: center;
  padding: 15px;
  color: gray;
}

#quiz {
  text-align: center;
  padding: 20px;
}

#result {
  text-align: center;
  padding: 30px;
}